/P1G3/LaboratorioSIU/nbproject/private/
/P1G3/LaboratorioSIU/build/
/P1G3/Concepto/nbproject/private/
/P1G3/contador/nbproject/private/
/P1G3/contador/build/
/P1G3/pdf/nbproject/private/
/P1G3B/ProyectoPrueba/nbproject/private/